# Ignore all files and folders by default
*

# Do not ignore `.gitignore` itself
!.gitignore

# Ignore MD, Batch, and Txt files
*.md
*.bat
*.txt

# Ignore Python files
*.py

# Ignore the "GUIBlackJack" folder and its contents
GUIBlackJack/

# Ignore files and folders related to PyArmor
__pyarmor__/
pyarmor_output/
*.pyarmor
*.pyarmor_config
